Repository rajtoshranjan/earth: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown

Add css in lint stage
  .lintstagedrc
Due: none

Add tailwind and import linter
  .eslintrc.js
  package-lock.json
  package.json
  src/components/input/input.tsx
  src/components/modal/modal.tsx
  src/contexts/global.context.ts
  src/header/auth.tsx
  src/header/header.tsx
  src/header/search.tsx
  src/layer-panel/add-layer.tsx
  src/layer-panel/draw/draw.tsx
  src/layer-panel/layer-panel.tsx
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

setup eslint and hustky
  .eslintrc.js
  src/app.tsx
  src/components/input/input.tsx
  src/header/search.tsx
  src/layer-panel/add-layer.tsx
  src/layer-panel/draw/draw.tsx
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

React query setup
  package-lock.json
  package.json
  src/app.tsx
  src/header/search.tsx
  src/header/types.ts
  src/services/apis/index.ts
  src/services/apis/maptiler/index.ts
  src/services/apis/maptiler/maptiler.ts
  src/services/apis/maptiler/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add marker in the center of the searched location
  src/header/search.tsx
  src/map-container/constants.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Update import lints
  .eslintrc.js
  postcss.config.mjs
  tailwind.config.js
  tsconfig.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

eslint update
  .eslintrc.js
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Update husky command
  .lintstagedrc
Due: none

FIX: lint
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

FIX: lint
  .lintstagedrc
Due: none

Remove number input inner buttons
  src/assets/styles.css
  src/header/search.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add marker in center of searched location
  src/header/search.tsx
  src/map-container/constants.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Upgrade headless ui to v2
  package-lock.json
  package.json
  src/components/button/button.tsx
  src/components/button/type.ts
  src/components/input/input.tsx
  src/components/input/types.ts
  src/components/modal/modal.tsx
  src/layer-panel/add-layer.tsx
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Create dropdown
  src/assets/icons/icomoon-project.json
  src/assets/icons/selection.json
  src/components/button/index.ts
  src/components/dropdown-menu/dropdown-menu.tsx
  src/components/dropdown-menu/index.ts
  src/components/dropdown-menu/types.ts
  src/components/icon/constants.ts
  src/components/index.ts
  src/components/input/index.ts
  src/components/modal/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add dropdown for Add Layer buttons
  src/layer-panel/add-layer.tsx
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

FIX layer container height
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

FIX: dropdown cursor
  src/components/dropdown-menu/dropdown-menu.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Handle add raster layer
  package-lock.json
  package.json
  src/app.tsx
  src/components/input/input.tsx
  src/components/input/types.ts
  src/contexts/global.context.ts
  src/layer-panel/add-layer.tsx
  src/layer-panel/layer-panel.tsx
  src/layer-panel/layer.tsx
  src/utils/hooks/index.ts
  src/utils/hooks/use-maplibre-layers/index.ts
  src/utils/hooks/use-maplibre-layers/layer-manager.ts
  src/utils/hooks/use-maplibre-layers/types.ts
  src/utils/hooks/use-maplibre-layers/use-maplibre-layers.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Update readme
  README.md
Due: none

FIX: button size
  src/layer-panel/add-layer.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Refactor: add new line
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

FIX: url pattern help text
  src/layer-panel/add-layer.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Renamed mode changed handler
  src/layer-panel/draw/draw.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

dependency update
  package-lock.json
  package.json
  src/layer-panel/draw/draw.tsx
  src/services/apis/maptiler/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

don't repeat the map
  .eslintrc.js
  .prettierrc.js
  package-lock.json
  package.json
  src/map-container/map-view.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

update icons
  src/assets/icons/icomoon-project.json
  src/assets/icons/selection.json
  src/components/icon/constants.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Update modal component
  src/components/modal/modal.tsx
  src/components/modal/type.ts
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Draw feature and save to local storage
  package-lock.json
  package.json
  src/app.tsx
  src/components/input/input.tsx
  src/components/modal/type.ts
  src/contexts/global.context.ts
  src/core/hooks/index.ts
  src/core/hooks/use-maplibre-layers/index.ts
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/core/hooks/use-maplibre-layers/types.ts
  src/core/hooks/use-maplibre-layers/use-maplibre-layers.ts
  src/core/index.ts
  src/core/maplibre/index.ts
  src/core/maplibre/map.ts
  src/core/maplibre/types.ts
  src/header/search.tsx
  src/layer-panel/add-layer.tsx
  src/layer-panel/draw/constants.ts
  src/layer-panel/draw/draw-feature-modal/draw-feature-modal.tsx
  src/layer-panel/draw/draw-feature-modal/features-info.tsx
  src/layer-panel/draw/draw-feature-modal/index.ts
  src/layer-panel/draw/draw-feature-modal/measurement-node.tsx
  src/layer-panel/draw/draw.tsx
  src/layer-panel/draw/helpers.ts
  src/layer-panel/draw/types.ts
  src/layer-panel/layer-panel.tsx
  src/layer-panel/layer.tsx
  src/map-container/helpers.ts
  src/map-container/map-view.tsx
  src/services/apis/maptiler/types.ts
  src/utils/hooks/use-maplibre-layers/layer-manager.ts
  src/utils/hooks/use-maplibre-layers/types.ts
  src/utils/hooks/use-maplibre-layers/use-maplibre-layers.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

FIX: build
  src/core/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

FIX: input
  src/components/input/input.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add description in index.html
  index.html
Due: prettier --write --ignore-unknown

Create spinner component
  src/components/spinner.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Show spinner when locations loading
  src/components/index.ts
  src/header/search.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add env sample
  env-files/.env.development
  env-files/.env.sample
Due: none

FIX: clear feature
  src/components/input/input.tsx
  src/layer-panel/draw/draw-feature-modal/draw-feature-modal.tsx
  src/layer-panel/draw/draw.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

FIX: Reset active feature on layer save
  src/layer-panel/draw/draw-feature-modal/draw-feature-modal.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

1.0.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

FIX: Hide rectangle, circle and freehand modes in mobile devices
  src/layer-panel/draw/constants.ts
  src/layer-panel/draw/types.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

removed deprecated code
  src/header/auth.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Remove env files from repo
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  env-files/.env.development
Due: none

Path conditions:
  eslint --quiet --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write --ignore-unknown: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,html,css})
