Repository rajtoshranjan/earth: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --quiet --fix --max-warnings=0",
    "prettier --write --ignore-unknown"
  ],
  "*.{json,html,css}": ["prettier --write --ignore-unknown"]
}

FIX: Env file path in CI
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

FIX CI
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Update README.md
  README.md
Due: none

Dependencies update
  package-lock.json
  package.json
  src/header/auth.tsx
  src/header/search.tsx
  src/layer-panel/add-layer.tsx
  src/layer-panel/layer-panel.tsx
  src/services/apis/maptiler/types.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

FIX: build
  src/layer-panel/draw/helpers.ts
  tsconfig.json
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

1.1.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update title
  README.md
  index.html
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update auth popover footer
  src/assets/icons/icomoon-project.json
  src/assets/icons/selection.json
  src/assets/images/index.ts
  src/assets/images/logo.png
  src/components/icon/constants.ts
  src/header/auth.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

FIX: Layer action buttons order
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Add lint check before deploy
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/lint.yml
Due: none

FIX: CI
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Add zoom to layer
  src/assets/icons/selection.json
  src/components/icon/constants.ts
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/core/hooks/use-maplibre-layers/use-maplibre-layers.ts
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Add geojson layer editing
  package-lock.json
  package.json
  src/app.tsx
  src/contexts/global.context.ts
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/core/hooks/use-maplibre-layers/types.ts
  src/layer-panel/draw/draw-feature-modal/draw-feature-modal.tsx
  src/layer-panel/draw/draw.tsx
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Disable layer action buttons when editing
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/pull-request.yml
  src/components/dropdown-menu/dropdown-menu.tsx
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Edit layer minor fixes
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/layer-panel/draw/draw-feature-modal/draw-feature-modal.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Change draw modal button body copy
  src/layer-panel/draw/draw-feature-modal/draw-feature-modal.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

1.2.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

layer panel padding fixes
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Remove firebase config and auth
  .github/workflows/firebase-hosting-merge.yml
  env-files/.env.sample
  package-lock.json
  package.json
  src/app.tsx
  src/contexts/global.context.ts
  src/env-variables.ts
  src/header/auth.tsx
  src/header/header.tsx
  src/services/firebase.ts
  src/services/index.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Build fix
  package-lock.json
Due: prettier --write --ignore-unknown

Delete unused assets
  src/assets/images/index.ts
  src/assets/images/user.png
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

1.2.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

FIX: layer dropdown disable state
  src/components/dropdown-menu/dropdown-menu.tsx
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

1.2.2
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Save icomoon project file
  src/assets/icons/icomoon-project.json
Due: prettier --write --ignore-unknown

Disable layer editing for raster layers
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Update README
  README.md
  docs/earth.jpeg
Due: none

FIX: layer panel toggle button margin
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

FIX: layer panel padding
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Update draw config for freehand tool to enable editing
  src/layer-panel/draw/helpers.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Enable maplibre globe projection
  package-lock.json
  package.json
  src/map-container/constants.ts
  src/map-container/map-view.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

FIX: Update default zoom level to show full globe in mobile devices
  src/map-container/map-view.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Layer action buttons should be always visible in mobile devices
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Update layer icons
  src/assets/icons/selection.json
  src/components/icon/constants.ts
  src/layer-panel/layer-panel.tsx
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Update icomoon project file
  src/assets/icons/icomoon-project.json
Due: prettier --write --ignore-unknown

Add title to icon buttons
  src/layer-panel/layer-panel.tsx
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Add padding to fix bound func
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/header/search.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Add map animation for sidenav opening
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Enable High Accuracy for GeolocateControl
  src/map-container/helpers.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown
