Repository rajtoshranjan/earth: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --quiet --fix --max-warnings=0",
    "prettier --write --ignore-unknown"
  ],
  "*.{json,html,css}": ["prettier --write --ignore-unknown"]
}

Upgrade maplibre to v5.0.0-pre.3
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Enable caching in search query
  src/services/apis/maptiler/maptiler.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Upgrade maplibre gl js
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Bump maplibre version
  package-lock.json
  package.json
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Added Globe Control
  src/assets/styles.css
  src/map-container/helpers.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Add sky
  src/map-container/constants.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Add upload vector layer feature
  src/assets/icons/selection.json
  src/components/icon/constants.ts
  src/components/input/file-input.tsx
  src/components/input/index.ts
  src/layer-panel/add-raster-layer.tsx
  src/layer-panel/add-vector-layer.tsx
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Add geojson layer support
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/layer-panel/add-vector-layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Make the modal draggable
  package-lock.json
  package.json
  src/components/modal/modal.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

enable dnd for mobile
  src/components/modal/modal.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Remove globe control
  src/assets/styles.css
  src/map-container/helpers.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

wip
  package-lock.json
  package.json
  src/map-container/map-view.tsx
  src/map-container/space-background/index.ts
  src/map-container/space-background/space-background.tsx
  tailwind.config.js
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Create LICENSE
  LICENSE
Due: none

Update map config
  src/map-container/map-view.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Maplibre version upgrade
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

use indexed DB to store big layers as local storage has limit over size
  package-lock.json
  package.json
  src/app.tsx
  src/contexts/global.context.ts
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/core/hooks/use-maplibre-layers/use-maplibre-layers.ts
  src/layer-panel/layer-panel.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

1.3.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Make layer manager methods async
  package-lock.json
  package.json
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/core/hooks/use-maplibre-layers/use-maplibre-layers.ts
  src/layer-panel/add-raster-layer.tsx
  src/layer-panel/add-vector-layer.tsx
  src/layer-panel/draw/draw-feature-modal/draw-feature-modal.tsx
  src/layer-panel/layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

1.3.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Add migration script to move data from local storage to index db
  src/core/hooks/use-maplibre-layers/use-maplibre-layers.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

add max zoom
  src/map-container/map-view.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

FIX: projection shift
  src/map-container/constants.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Bump use-idb-store version
  package-lock.json
  package.json
  src/core/hooks/use-maplibre-layers/use-maplibre-layers.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

1.4.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Dependency update
  package-lock.json
  package.json
  src/layer-panel/draw/draw.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

Fix search
  src/components/dropdown-menu/dropdown-menu.tsx
  src/components/dropdown-menu/types.ts
  src/header/header.tsx
  src/header/search.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

fix search
  src/header/header.tsx
  src/header/search.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

lint fix
  src/layer-panel/draw/helpers.ts
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

fix search
  src/header/search.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

maplibre version bump
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Update dependencies: bump maplibre-gl to 5.9.0, terra-draw to 1.18.0, and terra-draw-maplibre-gl-adapter to 1.2.2; also update related packages.
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Bump use-idb-store to 1.2.0
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

1.4.1
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Bump version from 1.4.1 to 1.4.2
  package.json
Due: prettier --write --ignore-unknown

Bump maplibre, turf, terra-draw and other deps
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Bump version to 1.4.2 and update dependencies
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

feat: Implement GeoJSON layer styling
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/core/maplibre/map.ts
  src/layer-panel/layer.tsx
  src/layer-panel/style-layer/constants.ts
  src/layer-panel/style-layer/index.ts
  src/layer-panel/style-layer/style-layer-modal.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

feat: Add vector layer support and implement authentication for tile-based layers.
  src/auth-panel/auth-panel.tsx
  src/auth-panel/index.ts
  src/components/bounds-input/bounds-input.tsx
  src/components/bounds-input/index.ts
  src/components/index.ts
  src/components/select/index.ts
  src/components/select/select.tsx
  src/core/auth/index.ts
  src/core/auth/types.ts
  src/core/auth/use-auth-store.ts
  src/core/hooks/use-maplibre-layers/layer-manager.ts
  src/core/hooks/use-maplibre-layers/types.ts
  src/core/maplibre/map.ts
  src/core/maplibre/types.ts
  src/header/header.tsx
  src/header/search.tsx
  src/layer-panel/add-raster-layer.tsx
  src/layer-panel/add-vector-layer.tsx
  src/map-container/map-view.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

refactor: adjust modal height and flex properties for improved layout and responsiveness.
  src/components/modal/modal.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown

feat: Add custom styled Tabs component and update the add vector layer modal to utilize it.
  src/components/index.ts
  src/components/tabs/index.ts
  src/components/tabs/tabs.tsx
  src/layer-panel/add-vector-layer.tsx
Due: eslint --quiet --fix --max-warnings=0, prettier --write --ignore-unknown
